# Requisitos del proyecto
# Este proyecto solo utiliza la biblioteca estándar de Python 3.x
# No se requieren paquetes externos

# Descargar, o copiar el proyecto:
#https://github.com/ralfy8/Chinchon

# Para ejecutar el juego:
# python src/ui.py